
@use "./mixins";

//FOOTER
.footer {
    @include mixins.flex-display();
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.5em;
    
    &__header {
        text-align: center;
    }
   
}